body, html{
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

input{
    width: 300px;
}

.table-header{
    margin-top: 30px;
}

.consols{
    display: flex;
    border: 1px solid black;
    margin-top: 10vh;
    text-align: center;
}

#CancelConsole{
    width: 33.3%;
}


#RequestConsole{
    width: 33.3%;
    border-left: 1px solid black;
}

#ResConsole{
    width: 33.3%;
    border-left: 1px solid black;
}


#RequestsAfterAnaliz{
    border-left: 1px solid black;
    padding: 20px;
}


#CancelConsoleAfterAnaliz{
    border-left: 1px solid black;
    padding: 20px;
}

h2{
    padding: 30px;
}

button{
    padding: 4px 8px;
    border-radius: 20%;
    transition: background-color 0.2s linear;
}

button:hover{
    background-color: burlywood;
}

#workConsole{
    display: flex;
    flex-wrap: wrap;
}

.consokWorkItem{
    width: 33.3%;
}
